<?xml version="1.0"?>
  <model>
    <name>ChassisEK</name>
    <version>2.0</version>
    <!--<sdf>model.sdf</sdf> -->
    <sdf version="1.6">model.sdf</sdf>
    <author>
      <name>Edgar Granados</name>
      <email>edgar.granados@itam.mx</email>
    </author>
    <description>
      Eagle Knight Omnidirecctional robot compatible with Robocup SSL rules
    </description>
</model>